{
  "secret": "{{ freefeed_secret }}",
  "origin": "*",
  "serviceName": "FreeFeed",
  "monitorPrefix": "{{ monitor_prefix }}",
  "trustProxyHeaders": true,
  "recaptcha": {
    "enabled": true,
    "secret": "{{ recaptcha_server_secret }}"
  },
  "application": {
    "extraStopListPath": "/etc/freefeed/banlist.txt"
  },
  "sentryDsn": "{{ sentry_dsn }}",
  "host": "https://{{ react_client_hostname }}",
  "media": {
    "url": "https://{{ freefeed_media_hostname }}/",
    "storage": {
      "type": "s3",
      "rootDir": "/var/freefeed-files/",
      "accessKeyId": "{{ aws_access_key | default(None) }}",
      "secretAccessKey": "{{ aws_secret_key | default(None) }}",
      "bucket": "{{ freefeed_s3_bucket }}"
    }
  },
  "attachments": {
    "fileSizeLimit": 52428800
  },
  "profilePictures": {
    "defaultProfilePictureMediumUrl": "https://media.freefeed.net/attachments/d067713e-0ba4-4d0a-ae1f-41b31780fda3.png"
  },
  "mailer": {
    "useSMTPTransport": true,
    "fromName": "FreeFeed.net",
    "fromEmail": "freefeed.net@gmail.com",
    "resetPasswordMailSubject": "FreeFeed password reset",
    "options": {
      "host": "{{ freefeed_mailer_smtp_host }}",
      "port": {{ freefeed_mailer_smtp_port }},
      "secure": false,
      "auth": {
        "user": "{{ freefeed_mailer_smtp_user }}",
        "pass": "{{ freefeed_mailer_smtp_pass }}"
      }
    },
    "adminRecipient": {
      "email": "archives@freefeed.net",
      "screenName": "Archive admins"
    }
  },
  "redis": {
    "host": "{{ redis_host | default('localhost') }}",
    "port": "{{ redis_port | default(6379) }}"
  },
  "postgres": {
    "connection": {
      "host": "{{ postgres_host }}",
      "database": "{{ postgres_dbname }}",
      "user": "{{ postgres_user }}",
      "password": "{{ postgres_pass }}"
    },
    "pool": {
      "idleTimeoutMillis": 3600000
    },
    "textSearchConfigName": "{{ postgres_textsearch_config }}"
  },
  "performance": {
    "searchQueriesTimeout": 45000
  },
  "externalAuthProviders": [
    {
      "template": "google",
      "params": {
        "clientId": "{{ freefeed_external_auth_google_client_id }}",
        "clientSecret": "{{ freefeed_external_auth_google_client_secret }}"
      }
    },
    {
      "template": "facebook",
      "params": {
        "clientId": "{{ freefeed_external_auth_facebook_client_id }}",
        "clientSecret": "{{ freefeed_external_auth_facebook_client_secret }}"
      }
    }
  ],
  "app_name": "{{ new_relic_app_name }}",
  "license_key": "{{ new_relic_license_key }}"
}
