user  {{ www_user }};
worker_processes  {{ ansible_processor_vcpus }};

error_log  /var/log/nginx/error.log;
#error_log  /var/log/nginx/error.log  notice;
#error_log  /var/log/nginx/error.log  info;
pid        /run/nginx.pid;

events {
    worker_connections  1024;
}

http {
    include       /etc/nginx/mime.types;
    default_type  application/octet-stream;
    client_max_body_size {{ nginx_client_max_body_size }};

{% if nginx_use_proxy_protocol %}
    real_ip_header proxy_protocol;
{% for ip in nginx_proxy_protocol_real_ips %}
    set_real_ip_from {{ ip }};
{% endfor %}
    log_format elb_log '$proxy_protocol_addr - $remote_user [$time_local] '
                       '"$request" $status $body_bytes_sent "$http_referer" '
                       '"$http_user_agent" $request_time $upstream_response_time $pipe';

{% endif %}

    log_format  main  '$remote_addr - $remote_user [$time_local] "$request" '
                      '$status $body_bytes_sent "$http_referer" '
                      '"$http_user_agent" "$http_x_forwarded_for" '
                      '$request_time $upstream_response_time $pipe';

    access_log  /var/log/nginx/access.log  main;

    sendfile        on;
    #tcp_nopush     on;

    #keepalive_timeout  0;
    keepalive_timeout  65;

    #gzip  on;

    index   index.html index.htm;

    upstream app_pepyatka {
      ip_hash;
{% for port in pepyatka_server_instances %}
      server {{ pepyatka_server_host }}:{{ port }};
{% endfor %}
    }

    server {
      listen 81;
      server_name localhost;

      access_log off;
      allow 127.0.0.1;
      deny all;

      location /nginx_status {
        stub_status on;
      }
    }

    server {
      listen         80 {{ nginx_use_proxy_protocol | ternary('proxy_protocol', '') }};
      server_name    news.freefeed.net;
      return         301 http://freefeed.net/freefeed;
    }

{% if server_cert is defined %}
{% if vanilla_enabled %}
    server {
      listen         80 {{ nginx_use_proxy_protocol | ternary('proxy_protocol', '') }};
      server_name    {{ vanilla_hostname }};
      include        /etc/nginx/letsencrypt-acme-challenge.conf;
      return         301 https://$server_name$request_uri;
    }
{% endif %}

    server {
      listen         80 {{ nginx_use_proxy_protocol | ternary('proxy_protocol', '') }};
      server_name    {{ react_client_hostname }};
      include        /etc/nginx/letsencrypt-acme-challenge.conf;
      return         301 https://$server_name$request_uri;
    }

    server {
      listen         80 {{ nginx_use_proxy_protocol | ternary('proxy_protocol', '') }};
      server_name    {{ pepyatka_media_hostname }};
      include        /etc/nginx/letsencrypt-acme-challenge.conf;
      return         301 https://$server_name$request_uri;
    }

    server {
      listen         80 {{ nginx_use_proxy_protocol | ternary('proxy_protocol', '') }};
      server_name    news.freefeed.net;
      return         301 https://freefeed.net/freefeed;
    }

    server {
      server_name _;
      include pepyatka-ssl.conf;
      return 301 $scheme://{{ react_client_hostname }}$request_uri;
    }

{% endif %}

{% if pepyatka_s3_bucket != "" %}
   server {
     server_name {{ pepyatka_media_hostname }};
     include pepyatka-ssl.conf;
     include /etc/nginx/letsencrypt-acme-challenge.conf;
     location = / {
       return {{ pepyatka_frontend_scheme }}://{{ react_client_hostname }}/;
     }
     location / {
       access_log off;
       log_not_found off;
       expires max;
       if ($request_method !~ ^(GET|HEAD)$ ) {
         return 405;
       }
       add_header Access-Control-Allow-Origin '*' always;
       add_header Access-Control-Allow-Methods 'GET,HEAD' always;
       resolver 169.254.169.253 valid=30s;
       proxy_pass https://{{ pepyatka_s3_bucket }}.s3.amazonaws.com;
     }
   }
{% endif %}

   server {
     server_name {{ react_client_hostname }};
     access_log /var/log/nginx/{{ react_client_hostname }}.log {{ nginx_use_proxy_protocol | ternary('elb_log', 'main') }};
     include pepyatka-common.conf;
     include /etc/nginx/letsencrypt-acme-challenge.conf;
     ssi on;
     root {{ react_client_dir }}/public;

     # Expire rules for static content

     # document html and data
     location ~* \.(?:html?|xml|json)$ {
       expires off;
       access_log off;
       # access_log logs/static.log; # if you want
       try_files $uri $uri/ /index.html?/$request_uri;
     }

     # CSS and Javascript
     location ~* \.(?:css|js)$ {
       expires 1y;
       access_log off;
       add_header Cache-Control "public";
       try_files $uri $uri/ /index.html?/$request_uri;
     }

     location / {
       access_log off;
       try_files $uri $uri/ /index.html?/$request_uri;
{% if react_client_basic_auth_enabled %}
       auth_basic "Restricted Content";
       auth_basic_user_file /etc/nginx/.htpasswd;
{% endif %}
     }

     location ~ ^/assets/ {
       access_log off;
       expires max;
       try_files $uri =404;
     }
   }
{% if vanilla_enabled %}
   server {
     server_name {{ vanilla_hostname }};
     access_log /var/log/nginx/{{ vanilla_hostname }}.log {{ nginx_use_proxy_protocol | ternary('elb_log', 'main') }};
     include pepyatka-common.conf;
     include /etc/nginx/letsencrypt-acme-challenge.conf;

     location / {
       root {{ vanilla_dir }};
       rewrite ^/s/(.*)$ /$1 break;
       rewrite ^.* /index.htm break;
     }
   }
{% endif %}
}
