[Unit]
Description=pepyatka-server instance
After=network.target
PartOf=pepyatka.target

[Service]
User={{ pepyatka_user }}
Group={{ pepyatka_group }}
Restart=on-failure
WorkingDirectory={{ pepyatka_home_dir }}/pepyatka-server
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=pepyatka-%I
Environment=NODE_PATH=/usr/lib/node_modules
Environment=NODE_ENV={{ pepyatka_node_env }}
Environment=NODE_CONFIG_ENV={{ pepyatka_server_branch }}
Environment=FRFS_PORT=%I
ExecStartPre={{ pepyatka_home_dir }}/pepyatka-server/node_modules/.bin/knex migrate:latest
ExecStart=/usr/bin/npm start

[Install]
WantedBy=pepyatka.target