{
    "api": {
        "root": "https://{{ freefeed_hostname }}"
    },
    "auth": {
        "tokenPrefix": "{{ auth_token_prefix }}",
        "userStorageKey": "{{ local_storage_whoami_cache_key }}"
    },
{% if public_sentry_dsn is defined %}
    "sentry": {
        "publicDSN": "{{ public_sentry_dsn }}"
    },
{% endif %}
{% if recaptcha_client_secret is defined %}
    "captcha": {
      "siteKey": "{{ recaptcha_client_secret }}"
    },
{% endif %}
    "siteOrigin": "https://{{ freefeed_hostname }}",
    "siteTitle": "Entire VC",
    "siteDomains": ["entire.vc"],
    "frontendPreferences": {
      "clientId": "vc.entire"
    }
}
