{
    "api": {
        "root": "https://{{ freefeed_hostname }}"
    },
    "siteOrigin": "https://{{ freefeed_hostname }}",
    "auth": {
        "tokenPrefix": "{{ auth_token_prefix }}",
        "userStorageKey": "{{ local_storage_whoami_cache_key }}"
    },
    "sentry": {
        "publicDSN": "{{ public_sentry_dsn }}"
    },
    "captcha": {
      "siteKey": "{{ recaptcha_client_secret }}"
    }
}
