gzip on;
gzip_comp_level 6;
gzip_vary on;
gzip_min_length  1000;
gzip_proxied any;
gzip_buffers 16 8k;

gzip_types text/plain text/css application/json application/x-javascript text/xml application/xml application/xml+rss text/javascript application/javascript;
charset_types text/html text/plain text/css application/javascript;
charset utf-8;

# Disable logging for favicon
location = /favicon.ico {
  log_not_found off;
  access_log off;
}

# Disable logging for robots.txt
location = /robots.txt {
  return 200 "User-agent: *\nDisallow: /";
  log_not_found off;
  access_log off;
}

# These rewrites are for old pre-S3 urls
location /attachments/original/ {
{% if freefeed_storage_type == 'fs' %}
  root {{ freefeed_files_dir }};
  expires max;
  try_files $uri =404;
{% else %}
  if ($request_method !~ ^(GET|HEAD)$ ) {
    return 405;
  }
  rewrite ^/attachments/original/(.*)$ https://{{ freefeed_media_hostname }}/attachments/$1 permanent;
{% endif %}
}

location /attachments/(thumbnails|thumbnails2)/ {
{% if freefeed_storage_type == 'fs' %}
  root {{ freefeed_files_dir }};
  expires max;
  try_files $uri =404;
{% else %}
  if ($request_method !~ ^(GET|HEAD)$ ) {
    return 405;
  }
  rewrite ^/attachments/(.*)$ https://{{ freefeed_media_hostname }}/attachments/$1 permanent;
{% endif %}
}

location /profilepics/ {
{% if freefeed_storage_type == 'fs' %}
  root {{ freefeed_files_dir }};
  expires max;
  try_files $uri =404;
{% else %}
  if ($request_method !~ ^(GET|HEAD)$ ) {
    return 405;
  }
  rewrite ^/profilepics/(.*)$ https://{{ freefeed_media_hostname }}/profilepics/$1 permanent;
{% endif %}
}

location ~ ^/(v1/|v2/|socket.io/) {
  proxy_http_version 1.1;
  proxy_set_header Upgrade $http_upgrade;
  proxy_set_header Connection "upgrade";

  proxy_set_header X-Real-IP $remote_addr;
  proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
  proxy_set_header Host $http_host;
  proxy_set_header X-NginX-Proxy true;
  proxy_set_header Access-Control-Allow-Origin '*';
  proxy_set_header Access-Control-Allow-Methods 'GET,PUT,POST,DELETE,OPTIONS';
  proxy_set_header Access-Control-Allow-Headers 'Origin, X-Requested-With, Content-Type, Accept, X-Authentication-Token, Access-Control-Request-Method';

  proxy_pass http://freefeed_server;
  proxy_redirect off;

  proxy_connect_timeout 5s;
  proxy_next_upstream_timeout 6s;
}